@import "tailwindcss";
@import "@navikt/ds-css" layer(components);


@config './tailwind.config.js';

.wide-alert .navds-alert__wrapper--maxwidth {
    display: none !important;
}

.wide-alert .navds-alert__wrapper {
    display: block !important;
    max-width: none !important;
}