name: Build PR

on:
  pull_request:
  workflow_dispatch:

env:
  VERSION: familie-tilbake-frontend:${{ github.sha }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          scope: "@navikt"
          registry-url: "https://npm.pkg.github.com"
          package-manager-cache: false

      - uses: pnpm/action-setup@v4
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          run_install: |
            - args: [--frozen-lockfile, --prefer-offline]

      - name: Build and test
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_RELEASE: ${{ github.sha }}
        run: |
          pnpm build
          pnpm test
